# Django Config
SECRET_KEY=django-insecure-g2j09mjd_^#m=!(kqykc8u_jbgu%g$heebil7chcb9+-ctmph0
DEBUG=True

# DB Config (Leave DB_HOST empty to fallback to SQLite for local development)
DB_HOST=
DB_NAME=onbora_db
DB_USER=onbora_user
DB_PASSWORD=onbora_pass
DB_PORT=5432

# Redis Config
REDIS_HOST=127.0.0.1

# Next.js Config
NEXT_PUBLIC_API_URL=http://localhost:8000

# Integrations Config (Orange Kaabu CRM & ArrowSphere)
KAABU_API_URL=https://my.api.mockaroo.com/kaabu_organizations.json
ONBORA_WEBHOOK_URL=http://localhost:8000/api/v1/sales/integrations/arrowsphere/webhook/

